<app-title [title]="'Input'"></app-title>
<p class="horizontal-padding">Para utilizar o componente de input, é necessário importar o módulo correspondente e adicioná-lo ao array de imports.</p>
<app-code [files]="initialPresentation"></app-code>
<app-basic-input-example></app-basic-input-example>
<app-hint-input-example></app-hint-input-example>
<app-password-input-example></app-password-input-example> 
<app-icon-input-example></app-icon-input-example>
<app-actions-input-example></app-actions-input-example>
<app-date-input-example></app-date-input-example>
<app-mask-input-example></app-mask-input-example>
<app-error-input-example></app-error-input-example>
<app-disabled-input-example></app-disabled-input-example>
