<app-title [title]="'Button / Link'"></app-title>
<p>Para utilizar o componente de botão e link, é necessário importar o módulo correspondente e adicioná-lo ao array de imports.</p>
<app-code [files]="button_main_files"></app-code>
<app-title [title]="'Buttons'"></app-title>
<section class="doc-section">
    <app-sub-title [subTitle]="'Size'"></app-sub-title>
    <div class="flexbox space-between">
        <div>
            <ngx-eg-button [size]="'small'" [label]="'Botão'"></ngx-eg-button>
            <ngx-eg-button [label]="'Botão'"></ngx-eg-button>
            <ngx-eg-button [size]="'large'" [label]="'Botão'"></ngx-eg-button>
        </div>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnSizeDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnSizeDoc = !showBtnSizeDoc"></ngx-eg-button>
    </div>
    @if (showBtnSizeDoc) {
        <app-code [files]="button_size_files"></app-code>
    }
</section>
<section class="doc-section">
    <app-sub-title [subTitle]="'Icon'"></app-sub-title>
    <div class="flexbox space-between">
        <div>
            <ngx-eg-button [icon]="'content_copy'"></ngx-eg-button>
            <ngx-eg-button [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
            <ngx-eg-button [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
        </div>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnIconDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnIconDoc = !showBtnIconDoc"></ngx-eg-button>
    </div>
    @if (showBtnIconDoc) {
        <app-code [files]="button_icon_files"></app-code>
    }
</section>
<section class="doc-section">
    <app-sub-title [subTitle]="'Format'"></app-sub-title>
    <div class="flexbox space-between">
        <div>
            <ngx-eg-button [shape]="'default'" [label]="'Botão'"></ngx-eg-button>
            <ngx-eg-button [shape]="'round'" [label]="'Botão'"></ngx-eg-button>
            <ngx-eg-button [shape]="'default'" [icon]="'content_copy'"></ngx-eg-button>
            <ngx-eg-button [shape]="'round'" [icon]="'content_copy'"></ngx-eg-button>
        </div>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnFormatDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnFormatDoc = !showBtnFormatDoc"></ngx-eg-button>
    </div>
    @if (showBtnFormatDoc) {
        <app-code [files]="button_format_files"></app-code>
    }
</section>
<section class="doc-section">
    <app-sub-title [subTitle]="'Disabled'"></app-sub-title>
    <div class="flexbox space-between">
        <div>
            <ngx-eg-button [color]="'danger'" [disabled]="true" [icon]="'content_copy'"></ngx-eg-button>
            <ngx-eg-button [disabled]="true" [label]="'Botão'"></ngx-eg-button>
        </div>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnDisabledDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnDisabledDoc = !showBtnDisabledDoc"></ngx-eg-button>
    </div>
    @if (showBtnDisabledDoc) {
        <app-code [files]="button_disabled_files"></app-code>
    }
</section>
<section class="doc-section">
    <app-sub-title [subTitle]="'Style'"></app-sub-title>
    <div class="flexbox space-between">
        <div class="doc-section">
            <div>
                <ngx-eg-button [fill]="'clear'" [label]="'Botão'"></ngx-eg-button>
                <ngx-eg-button [fill]="'solid'" [label]="'Botão'"></ngx-eg-button>
                <ngx-eg-button [fill]="'outline'" [label]="'Botão'"></ngx-eg-button>
            </div>
        </div>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnStyleDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnStyleDoc = !showBtnStyleDoc"></ngx-eg-button>
    </div>
    @if (showBtnStyleDoc) {
        <app-code [files]="button_style_files"></app-code>
    }
</section>
<section class="doc-section">
    <app-sub-title [subTitle]="'Color'"></app-sub-title>
    <div class="flexbox space-between">
        <div class="doc-section">
            <div>
                <ngx-eg-button [color]="'danger'" [icon]="'content_copy'"></ngx-eg-button>
                <ngx-eg-button [color]="'primary'" [icon]="'content_copy'"></ngx-eg-button>
            </div>
            <div>
                <ngx-eg-button [color]="'danger'" [label]="'Botão'"></ngx-eg-button>
                <ngx-eg-button [color]="'primary'" [label]="'Botão'"></ngx-eg-button>
            </div>
        </div>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnColorDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnColorDoc = !showBtnColorDoc"></ngx-eg-button>
    </div>
    @if (showBtnColorDoc) {
        <app-code [files]="button_color_files"></app-code>
    }
</section>
<section class="doc-section">
    <app-sub-title [subTitle]="'Stretched'"></app-sub-title>
    <ngx-eg-button [expand]="'block'" [label]="'Botão'"></ngx-eg-button>
    <div class="flexbox end doc-section">
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showBtnStretchedDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showBtnStretchedDoc = !showBtnStretchedDoc"></ngx-eg-button>
    </div>
    @if (showBtnStretchedDoc) {
        <app-code [files]="button_stretched_files"></app-code>
    }
</section>
<hr>
<section>
    <app-title [title]="'Link'"></app-title>
    <div class="flexbox space-between">
        <ngx-eg-button [type]="'link'" [size]="'small'" [label]="'Link'"></ngx-eg-button>
        <ngx-eg-button [size]="'small'" [label]="'Ver'"
            [icon]="!showLinkDoc ? 'visibility' : 'visibility_off'" [fill]="'outline'"
            (click)="showLinkDoc = !showLinkDoc"></ngx-eg-button>
    </div>
    @if (showLinkDoc) {
        <app-code [files]="link_files"></app-code>
    }
</section>