.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0 !important;
}
.line {
  margin: 1px 0;
  height: 20px;
  color: white;
  letter-spacing: 0.5px;
}

.black {
  background-color: #000;
  padding: 1rem;
  ngx-eg-button {
    float: right;
  }
}
