<mat-form-field [appearance]="appearance">
    <mat-label [ngClass]="{ 'required': required }">{{ label }}</mat-label>
    <input
        matInput
        [id]="id"
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [errorStateMatcher]="error"
        [(ngModel)]="value"
        #input
    />
    @if (!!buttonAction.length) {
        <div class="button-actions">
            @for (action of actions; track action) {
                <button
                    mat-icon-button
                    matSuffix
                    [style.visibility]="visibilityOnClearButton(action.action) ? 'visible' : 'hidden'"
                    (click)="action?.click($event)"
                    [attr.aria-label]="action?.ariaLabel"
                    [attr.aria-hidden]="!visibilityOnClearButton(action.action)"
                >
                    <mat-icon>{{action.icon}}</mat-icon>
                </button>
            }
        </div>
    } @else {
        @if (iconSuffix) {
            <mat-icon matSuffix>{{iconSuffix}}</mat-icon>
        }
    }
    <mat-hint>{{ hint }}</mat-hint>
    <mat-error>{{ errorMessage }}</mat-error>
</mat-form-field>
