main {
    padding: 20px !important;
    width: 100%;
}

div {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 56px;
    display: flex;
}

ul {
    padding: 0;

    ngx-eg-button {
        display: flex;
        width: 100%;
    }
}