<form [formGroup]="form">
    <app-sub-title [subTitle]="'Group'" (event)="showDoc = !showDoc"></app-sub-title>
    <ngx-eg-toggle [label]="'No border\/Border'" (change)="border=$event"></ngx-eg-toggle>
    <ngx-eg-group [border]="border" [label]="'Group 1'" formGroupName="groupOne" [icon]="'lock-closed'">
        <ngx-eg-input [label]="'Name'" formControlName="name"></ngx-eg-input>
        <ngx-eg-group [border]="border" [label]="'Group 2'" formGroupName="groupTwo" [icon]="'lock-closed'">
            <ngx-eg-input [label]="'Last name'" formControlName="lastname"></ngx-eg-input>
        </ngx-eg-group>
    </ngx-eg-group>
    @if (showDoc) {
        <app-code [files]="docFile"></app-code>
    }
</form>