<section class="horizontal-padding">
    <app-sub-title [subTitle]="'Mensagem de Erro'" (event)="showDoc = !showDoc"></app-sub-title>
    <form class="flexbox wrap gap" [formGroup]="form">
        <ngx-eg-input [label]="'Nome'" [errorMessage]="'Campo obrigatório'" formControlName="name"></ngx-eg-input>
        <ngx-eg-input [label]="'Valor'" [errorMessage]="{ required: 'Campo obrigatório', minlength: 'Mínimo de 4 números'}" formControlName="value"></ngx-eg-input>
    </form>
    @if (showDoc) {
        <app-code [files]="docFile"></app-code>
    }
</section>
