<ion-input [ngClass]="{ 'required': required }" [type]="type" [label]="label" [placeholder]="placeholder"
    [labelPlacement]="labelPlacement" [fill]="fill" [helperText]="hint" [(ngModel)]="value" [required]="required"
    errorText="Invalid email" [clearOnEdit]="false" (ionBlur)="detectChanges()" [disabled]="disabled" #ionInputConponent>
    <ng-container *ngTemplateOutlet="startIconContainer"></ng-container>
    <ng-container *ngTemplateOutlet="endButtonContainer"></ng-container>
</ion-input>

<ng-template #startIconContainer>
    @if(startIcon) {
    <ng-container *ngTemplateOutlet="iconContainer; context: { icon: startIcon}"></ng-container>
    }
</ng-template>

<ng-template #endButtonContainer>
    @if (showButton) {
    <ion-button (click)="buttonClick()" fill="clear" slot="end" aria-label="Show/hide">
        @if (ableShowPasswordButton) {
        <ng-container *ngTemplateOutlet="iconContainer; context: { icon: endIcon }"></ng-container>
        }
        @if (ableCleanButton) {
        <ng-container *ngTemplateOutlet="iconContainer; context: { icon: endIcon }"></ng-container>
        }
    </ion-button>
    }
</ng-template>

<ng-template #iconContainer let-icon="icon">
    <ion-icon slot="start" [name]="icon" aria-hidden="true"></ion-icon>
</ng-template>