// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "ngx-eg-app/lib/styles/toast";
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label, h2, h3, h4, h5, h6, p, span, a, button {
  color: #404040;
}

hr {
  margin: 1rem 0;
}

.flexbox {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.doc-section {
  padding: 1rem 0;
}