<ngx-eg-button [size]="'small'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [size]="'large'" [icon]="'content_copy'"></ngx-eg-button>
&nbsp;
<ngx-eg-button [shape]="'round'" [size]="'small'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [size]="'large'" [icon]="'content_copy'"></ngx-eg-button>
<br>
<hr>
<br>
<ngx-eg-button [size]="'small'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [size]="'small'" [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [size]="'small'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<ngx-eg-button [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<ngx-eg-button [size]="'large'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [size]="'large'" [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [size]="'large'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<br>
<hr>
<br>
<ngx-eg-button [shape]="'round'" [size]="'small'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [size]="'small'" [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [size]="'small'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [size]="'large'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [size]="'large'" [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [shape]="'round'" [size]="'large'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<br>
<hr>
<br>
<ngx-eg-button [expand]="'block'" [shape]="'round'" [size]="'small'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [size]="'small'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [shape]="'round'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [shape]="'round'" [size]="'large'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [size]="'large'" [label]="'Botão'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [shape]="'round'" [size]="'large'" [label]="'Botão'" [icon]="'content_copy'"></ngx-eg-button>
<ngx-eg-button [expand]="'block'" [size]="'large'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></ngx-eg-button>
<br>
<hr>
<br>
<ngx-eg-button [disabled]="true" [expand]="'block'" [size]="'large'" [label]="'Botão'"></ngx-eg-button>
<br>
<hr>
<br>
<ngx-eg-button [type]="'link'" [size]="'small'" [label]="'Link'"></ngx-eg-button>