<form [formGroup]="form" (ngSubmit)="submit()">
    <ngx-eg-input [label]="'pass'" [hint]="'hint'" [errorMessage]="'errorMessage'" [suffixIcon]="'eye'" [buttonAction]="['clearAction', 'togglePasswordAction', 'searchAction', 'copyAction']" formControlName="pass"></ngx-eg-input>
    <ngx-eg-input  [label]="'email'" [hint]="'hint'" [errorMessage]="{pattern: 'email invalido', required: 'campo inválido'}" [buttonAction]="'clearAction'" formControlName="email"></ngx-eg-input>
    <ngx-eg-input [label]="'name'" [prefixIcon]="'eye-off-outline'" [suffixIcon]="'eye'" [hint]="'hint'" [errorMessage]="'errorMessage'" formControlName="name"></ngx-eg-input>
</form>

<ngx-eg-button [fill]="'outline'" [label]="'Clear'" (click)="clear()"></ngx-eg-button>
<ngx-eg-button [type]="'submit'" [label]="'Submit'" (click)="submit()"></ngx-eg-button>

