<!-- <form [formGroup]="form">
    <custom-eg-input [id]="'pass'" [label]="'pass'" [hint]="'pass'" [errorMessage]="'errorMessage'" [placeholder]="'pass'" formControlName="pass"></custom-eg-input>
    <custom-eg-input [id]="'email'" [label]="'email'" [hint]="'email'" [errorMessage]="'errorMessage'" [placeholder]="'email'" formControlName="email"></custom-eg-input>
    <custom-eg-input [id]="'name'" [label]="'name'" [hint]="'name'" [errorMessage]="'errorMessage'" [placeholder]="'name'" formControlName="name"></custom-eg-input>
    <button type="submit" [disabled]="!form.valid" (click)="submit()">Default</button>
</form> -->
<form [formGroup]="form2">
    <default-eg-input [label]="'pass'" [hint]="'pass'" [placeholder]="'pass'" [errorMessage]="'errorMessage'" [buttonAction]="['searchAction', 'togglePasswordAction', 'clearAction', 'copyAction']" [type]="'password'" formControlName="pass"></default-eg-input>
    <default-eg-input [label]="'email'" [hint]="'email'" [placeholder]="'email'" [errorMessage]="{email: 'email invalido'}" [type]="'email'" formControlName="email"></default-eg-input>
    <default-eg-input [label]="'name'" [hint]="'name'" [placeholder]="'name'" [errorMessage]="{minlength: 'Minimo de 5 caracteres', maxlength: 'Maximo de 10 caracteres'}" [type]="'url'" formControlName="name"></default-eg-input>
    <button type="submit" [disabled]="!form2.valid" (click)="submit()">Default</button>
</form>

<!-- <form [formGroup]="form3">
    <eg-input [id]="'pass'" [label]="'pass'" [hint]="'pass'" [placeholder]="'pass'" formControlName="pass"></eg-input>
    <eg-input [id]="'email'" [label]="'email'" [hint]="'email'" [placeholder]="'email'" formControlName="email"></eg-input>
    <eg-input [id]="'name'" [label]="'name'" [hint]="'name'" [placeholder]="'name'" formControlName="name"></eg-input>
    <button type="submit" [disabled]="!form3.valid" (click)="submit()">Default</button>
</form> -->
