<!-- <eg-button [size]="'small'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'small'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'small'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [icon]="'content_copy'"></eg-button>
<eg-button [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [size]="'large'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'large'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'large'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [icon]="'content_copy'"></eg-button>
<eg-button [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [shape]="'round'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [size]="'small'" [shape]="'round'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'small'" [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'small'" [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [size]="'large'" [shape]="'round'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'large'" [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'large'" [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button> -->

<eg-button [size]="'small'" [icon]="'content_copy'"></eg-button>
<eg-button [icon]="'content_copy'"></eg-button>
<eg-button [size]="'large'" [icon]="'content_copy'"></eg-button>
&nbsp;
<eg-button [shape]="'round'" [size]="'small'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [size]="'large'" [icon]="'content_copy'"></eg-button>
<br>
<hr>
<br>
<eg-button [size]="'small'" [label]="'Botão'"></eg-button>
<eg-button [size]="'small'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'small'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [label]="'Botão'"></eg-button>
<eg-button [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [size]="'large'" [label]="'Botão'"></eg-button>
<eg-button [size]="'large'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [size]="'large'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<br>
<hr>
<br>
<eg-button [shape]="'round'" [size]="'small'" [label]="'Botão'"></eg-button>
<eg-button [shape]="'round'" [size]="'small'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [size]="'small'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [shape]="'round'" [label]="'Botão'"></eg-button>
<eg-button [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>
<eg-button [shape]="'round'" [size]="'large'" [label]="'Botão'"></eg-button>
<eg-button [shape]="'round'" [size]="'large'" [label]="'Botão'" [icon]="'content_copy'"></eg-button>
<eg-button [shape]="'round'" [size]="'large'" [label]="'Botão'" [icon]="'content_copy'" [iconSide]="'right'"></eg-button>